body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.profile-pic {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.5s;
}
.profile-pic:hover {
  transform: scale(1.1);
}

.movie-Photo {
  height: 750px;
  width: 360px;
  object-fit: cover;
}
.movieList {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(340px px, 1fr)); */
  justify-items: center;
}
.MovieCard {
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
}
